body{
    background-color: gray;
    background-size: cover;
}

#input{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20px;
}

#buttons{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50px;
}

#results{
    background-color: orangered;
    border-radius: 20px;
    color: black;
    position: absolute;
    top: 80px;
}
