body{
    background-color: gray;
    background-size: cover;
}

#input{
    position: absolute;
    background-color: red;
}

#buttons{
    background-color: green;
    position: absolute;
    top: 50px;
}

#results{
    background-color: blue;
    position: absolute;
    top: 100px;
}

